{% extends 'main/base.html' %}

{% block content %}
<div style="margin-left:6rem; margin-top:3rem;">
  <div class="row w-75 mb-4">
    <div class="col">
      <h2>Data Schemas</h2>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-end p-0">
      <a class="btn btn-success btn-block" href="{% url 'new_schema' %}">New Schema</a>
    </div>
  </div>
  <table class="table table-bordered w-75 p-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Modified</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody style="border-top: thin;">
      {% for schema in schemas %}
      <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td><a href="{% url 'datasets' pk=schema.pk %}" class="text-decoration-none">{{ schema.title }}</a></td>
        <td>{{ schema.date_modified|date:"Y-m-d" }}</td>
        <td>
          <a href="{% url 'edit_schema' pk=schema.pk %}" class="text-decoration-none">Edit schema</a> 
          <a href="{% url 'delete_schema' pk=schema.pk %}" class="text-decoration-none text-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}